vpath %.local $(TOP)/configure

include $(TOP)/configure/RULES_FUNC
include $(TOP)/configure/RULES_SETUP
include $(TOP)/configure/RULES_VM
include $(TOP)/configure/RULES_VIRT
include $(TOP)/configure/RULES_VARS
